    <% provide(:title, "Home") %>
    <section class="header">
        <div class="header_bg"></div>
        <div class="header_menues side">
            <div class="header_menu">
                <ul class="header_menu1">
                    <li class="about"><a href="">ととろぐ農園とは</a></li>
                    <li class="search"><%= link_to "商品検索", products_path %></li>
                </ul>
                <%= link_to image_tag("logo.png"), root_path %>
                <ul class="header_menu2">
                    <li class="feature"><a href="">特集</a></li>
                    <li class="post"><a href="">みんなの投稿</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="side main_container">
            <div class="search_area">
                <%= render "static_pages/item" %>
                <%= render "static_pages/feature" %>
            </div>
            <div class="main_area">
                <div class="main_post">
                    <div class="post_collection">
                        <div class="post_title">みんなの投稿</div>
                        <div class="post_contents">
                            <div class="post_content owl-carousel">
                                <div class="people_post item">
                                    <div class="post_image"><%= image_tag("post1.jpg") %></div>
                                    <div class="post_date">
                                        <div class="date">2020/10/15</div>
                                        <div class="author">
                                            <%= image_tag("profile_picture.jpg") %><span>ととろぐ</span>
                                        </div>
                                    </div>
                                    <div class="post_comment">ここで注文した野菜を使って調理してみました！野菜嫌いの子どももペロッと食べている様子を見て、次回も注文しますね！</div>
                                </div>
                                <div class="people_post item">
                                    <div class="post_image"><%= image_tag("post2.jpg") %></div>
                                    <div class="post_date">
                                        <div class="date">2020/10/15</div>
                                        <div class="author">
                                            <%= image_tag("profile_picture.jpg") %><span>ととろぐ</span>
                                        </div>
                                    </div>
                                    <div class="post_comment">ここで注文した野菜を使って調理してみました！野菜嫌いの子どももペロッと食べている様子を見て、次回も注文しますね！</div>
                                </div>
                                <div class="people_post item">
                                    <div class="post_image"><%= image_tag("post3.jpg") %></div>
                                    <div class="post_date">
                                        <div class="date">2020/10/15</div>
                                        <div class="author">
                                            <%= image_tag("profile_picture.jpg") %><span>ととろぐ</span>
                                        </div>
                                    </div>
                                    <div class="post_comment">ここで注文した野菜を使って調理してみました！野菜嫌いの子どももペロッと食べている様子を見て、次回も注文しますね！</div>
                                </div>
                                <div class="people_post item">
                                    <div class="post_image"><%= image_tag("post3.jpg") %></div>
                                    <div class="post_date">
                                        <div class="date">2020/10/15</div>
                                        <div class="author">
                                            <%= image_tag("profile_picture.jpg") %><span>ととろぐ</span>
                                        </div>
                                    </div>
                                    <div class="post_comment">ここで注文した野菜を使って調理してみました！野菜嫌いの子どももペロッと食べている様子を見て、次回も注文しますね！</div>
                                </div>
                            </div>
                            <div class="post_container">
                                <a href="#">すべての投稿を見る</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_collection">
                    <div class="popular_collection">
                        <div class="popular_title">人気商品</div>
                        <div class="popular_contents">
                            <div class="popular_content">
                                <div class="product">
                                    <a href="">
                                        <div class="product_image"><%= image_tag("product1.png")%></div>
                                        <div class="product_name"><h3>【秋田産】減農薬コシヒカリ5kg</h3></div>
                                        <div class="product_tag">
                                            <div class="tag_area">
                                                <span><i class="fas fa-tag tag"></i></span>農薬節約
                                            </div>
                                        </div>
                                        <div class="product_price">¥3,420</div>
                                    </a>
                                </div>
                                <div class="product">
                                    <a href="">
                                        <div class="product_image"><%= image_tag("product1.png")%></div>
                                        <div class="product_name"><h3>【秋田産】減農薬コシヒカリ5kg</h3></div>
                                        <div class="product_tag">
                                            <div class="tag_area">
                                                <span><i class="fas fa-tag tag"></i></span>農薬節約
                                            </div>
                                        </div>
                                        <div class="product_price">¥3,420</div>
                                    </a>
                                </div>
                                <div class="product">
                                    <a href="">
                                        <div class="product_image"><%= image_tag("product1.png")%></div>
                                        <div class="product_name"><h3>【秋田産】減農薬コシヒカリ5kg</h3></div>
                                        <div class="product_tag">
                                            <div class="tag_area">
                                                <span><i class="fas fa-tag tag"></i></span>農薬節約
                                            </div>
                                        </div>
                                        <div class="product_price">¥3,420</div>
                                    </a>
                                </div>
                                <div class="product">
                                    <a href="">
                                        <div class="product_image"><%= image_tag("product1.png")%></div>
                                        <div class="product_name"><h3>【秋田産】減農薬コシヒカリ5kg</h3></div>
                                        <div class="product_tag">
                                            <div class="tag_area">
                                                <span><i class="fas fa-tag tag"></i></span>農薬節約
                                            </div>
                                        </div>
                                        <div class="product_price">¥3,420</div>
                                    </a>
                                </div>
                                <div class="product">
                                    <a href="">
                                        <div class="product_image"><%= image_tag("product1.png")%></div>
                                        <div class="product_name"><h3>【秋田産】減農薬コシヒカリ5kg</h3></div>
                                        <div class="product_tag">
                                            <div class="tag_area">
                                                <span><i class="fas fa-tag tag"></i></span>農薬節約
                                            </div>
                                        </div>
                                        <div class="product_price">¥3,420</div>
                                    </a>
                                </div>
                                <div class="product">
                                    <a href="">
                                        <div class="product_image"><%= image_tag("product1.png")%></div>
                                        <div class="product_name"><h3>【秋田産】減農薬コシヒカリ5kg</h3></div>
                                        <div class="product_tag">
                                            <div class="tag_area">
                                                <span><i class="fas fa-tag tag"></i></span>農薬節約
                                            </div>
                                        </div>
                                        <div class="product_price">¥3,420</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>