<div class="enter_container">
                <%= form_for @user, html: {class: "new_user"} do |f| %>
                    <%= render "shared/error_messages" %>

                    <%= f.label :name, "氏名", class: "label_field" %>
                    <%= f.text_field :name, class: "form_area" %>

                    <%= f.label :email, "Email", class: "label_field" %>
                    <%= f.email_field :email, class: "form_area" %>

                    <%= f.label :tel, "電話番号", class: "label_field" %>
                    <%= f.text_field :tel, class: "form_area" %>

                    <%= f.label :password, "パスワード", class: "label_field" %>
                    <%= f.password_field :password, class: "form_area" %>

                    <%= f.label :password_confirmation, "パスワード確認", class: "label_field" %>
                    <%= f.password_field :password_confirmation, class: "form_area" %>

                    <%= f.label :image, "アイコン", class: "label_field" %>
                    <%= f.file_field :image %>

                    <%= f.submit yield(:button_text), class: "signin_btn" %>
                <% end %>
                </div>