<header>
        <div class="header_container">
            <div class="header_area side">
                <div class="logo_block">
                    <%= link_to image_tag("logo.png"), root_path %>
                    <h2>ととろぐ農園</h2>
                </div>
                <div class="search_block">
                    <form method="get" action="#" class="search_container">
                        <input type="text" class="search_field" placeholder="キーワード検索" autocomplete="off">
                        <input type="submit" class="search_btn" value="&#xf002">
                    </form>
                </div>
                <div class="header_menu_block">
                    <ul>
                    <% if logged_in? %>
                        <li class="login">
                            <%= link_to "ログアウト", logout_path, method: :delete %>
                        </li>
                        <li class="resister">
                            <%= link_to "購入履歴", "#" %>
                        </li>
                        <li class="resister">
                            <%= link_to "カート", "#" %>
                        </li>
                    <% else %>
                        <li class="login">
                            <%= link_to "ログイン", login_path %>
                        </li>
                        <li class="resister">
                            <%= link_to "登録", signup_path %>
                        </li>
                        <li class="resister">
                            <%= link_to "登録", "#" %>
                        </li>
                    <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </header>